# Copyright (c) 2023 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

menuconfig DISPLAY_CUSTOM
    bool "Custom display driver"

if DISPLAY_CUSTOM
module = DISPLAY_CUSTOM
module-str = DISPLAY_CUSTOM
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif 
